body{
    margin: 0px;
    padding: 0px;
    background: black;
}

a{
    text-decoration: none;
    color: white;
}

*{
    font-family: "Lato";
    color: white;
}

h1, h2, h3, h4, h5, h6, span{
    z-index: 200;
}

header{
    display: flex;
    height: 130px;
    position: fixed;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 50;
}

.header-background{
    height: 130px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -30;
    background-color: black;
    opacity: 0;
}

.header-logo-container{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img{
    width: 130px;
    height: 87px;
}

.header-menu{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-timesheet{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-top-line{
    display: flex;
    justify-content: flex-end;
}

.header-menu-item{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
}

.menu-second-line{
    display: flex;
}

.smoke{
    position: fixed;
    background-color: black;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.video-block{
    display: flex;
    z-index: 2;
}

.video-block video{
    min-height: 100%;
    min-width: 100%;
    z-index: -20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome{
    z-index: 30;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 42px;
}

.ntrcn img{
    width: 210px;
    height: 80px;
}

.abonements{
    background: url("images/membership.jpg");
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: x-large;
}

.abonements span{
    width: 80%;
}

.abonements h4{
    margin-top: 100px;
}

.types{
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.abonement{
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 120px;
    border: 2px solid white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}

.abonement img{
    width: 80px;
    height: 80px;
}

.abonement:hover{
    cursor: pointer;
    opacity: 1;
}



@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Light.ttf");
}