body{
    margin: 0px;
    padding: 0px;
    background: black;
}

a{
    text-decoration: none;
    color: white;
}

*{
    font-family: "Lato";
    color: white;
}

h1, h2, h3, h4, h5, h6, span{
    z-index: 200;
}

header{
    display: flex;
    height: 130px;
    position: fixed;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 800;
}

.header-background{
    height: 130px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -30;
    background-color: black;
    opacity: 0;
}

.header-logo-container{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img{
    width: 130px;
    height: 87px;
}

.header-menu{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-timesheet{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-top-line{
    display: flex;
    justify-content: flex-end;
}

.header-menu-item{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
}

.header-menu-item:hover{
    cursor: pointer;
}

.menu-second-line{
    display: flex;
}

.smoke{
    position: fixed;
    background-color: black;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.video-block{
    display: flex;
    z-index: 2;
}

.video-block video{
    min-height: 100%;
    min-width: 100%;
    z-index: -20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome{
    z-index: 30;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 42px;
}

.ntrcn img{
    width: 210px;
    height: 80px;
}

.abonements{
    background: url("images/membership.jpg");
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: x-large;
}

.abonements span{
    width: 80%;
}

.abonements h4{
    margin-top: 100px;
}

.types{
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.abonement{
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 120px;
    border: 2px solid white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}

.abonement img{
    width: 80px;
    height: 80px;
}

.abonement:hover{
    cursor: pointer;
    opacity: 1;
}

.modal-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-form{
    position: absolute;
    width: 500px;
    height: 480px;
    background: transparent;
    opacity: 1;
    z-index: 1001;
    border: 3px solid whitesmoke;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 60px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    text-align: center;
}

.modal-form form{
    width: 350px;
    height: 220px;
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}

.modal-form form input{
    font-size: 18px;
    height: 40px;
    background: none;
    border: none;
    border-bottom: 1px solid whitesmoke;
}

.modal-form form button{
    margin-top: 20px;
    font-size: 18px;
    height: 40px;
    background: none;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

.modal-form form button:hover{
    cursor: pointer;
    border: 2px solid whitesmoke;
    font-weight: 700;
}

.close{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 7px;
    top: 10px;
    background: none;
    border: none;
    padding: none;
    z-index: 500;
}

.close:hover{
    cursor: pointer;
}

.modal-smoke{
    background: url("images/nigga.jpg");
    opacity: 0.3;
    filter: blur(10px);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 500;
    display: none;
}

.treners{
    background-color: #282828;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    overflow: hidden;
}

.short-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 300;
    max-height: 400px;
}

.all-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 300;
}

.trener{
    margin: 50px;
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 230px;
    padding: 25px;
    border-radius: 20px;
    justify-content: center;
}

.trener:hover{
    background-color: #1E1E1E;
}

.trener img{
    border: 3px solid white;
    border-radius: 100px;
}

.trener h4{
    margin: 5px;
}

.trener button{
    margin-top: 20px;
    font-size: 18px;
    background-color: #1E1E1E;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    visibility: hidden;
}

.trener button:hover{
    cursor: pointer;
    background-color: #282828;
}

#gums{
    display: flex;
    flex-wrap: wrap;
    height: 1600px;
}

#gums img{
    flex-grow: 0.5;
    max-height: 800px;
}

.gum-wrapper{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.gum-wrapper div{
    height: 800px;
}

@media (max-width: 1635px){
    .map{
        width: 950px;
    }
}

@media (max-width: 1475px){
    .map{
        width: 750px;
    }
}

footer{
    font-size: x-large;
    padding-top: 60px;
    text-align: center;
    height: 80px;
}

#allt{
    color:aquamarine;
    text-decoration: underline;
}

.mrg-top{
    margin-top: 130px;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Light.ttf");
}