body{
    margin: 0px;
    padding: 0px;
    background: black;
}

a{
    text-decoration: none;
    color: white;
}

*{
    font-family: "Lato";
    color: white;
}

header{
    display: flex;
    height: 130px;
    position: fixed;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 50;
}

.header-background{
    height: 130px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -30;
    background-color: black;
    opacity: 0;
}

.header-logo-container{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img{
    width: 130px;
    height: 87px;
}

.header-menu{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-timesheet{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-top-line{
    display: flex;
    justify-content: flex-end;
}

.header-menu-item{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
}

.menu-second-line{
    display: flex;
}

.video-block{
    display: flex;
    height: 114vh;
    z-index: 2;
    background-color: black;
    opacity: 0.2;
}

.video-block video{
    height: 100%;
    width: 100%;
    z-index: -20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome{
    z-index: 30;
    position: absolute;
    left: 40%;
    right: 40%;
    top: 300px;
    width: 500px;
    text-align: center;
    font-size: xx-large;
}



@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Light.ttf");
}